body {
  font-size: 16px;
}

.main-wrapper {
  color: #09416B;
}

.main-wrapper .header {
  background: #ffffff url("../img/BG_header.jpg") repeat right top;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.main-wrapper img {
  margin: 0 auto;
}

.main-wrapper .content h2{
  font-weight: 200;
  font-size: 2rem;
  margin-bottom: 6rem;
}

.main-wrapper .content h3 {
  font-weight: 200;
  font-size: 1.7rem;
}

.main-wrapper .content p {
  margin-bottom: 3rem;
}

.main-wrapper .header .logo {
  padding: 70px 120px;
}

.main-wrapper .header .img-doc {
  padding: 0 150px;
}

.main-wrapper .header .menu {
  font-weight: 300;
  text-transform: uppercase;
  width:100%;
  background-color: #09416B;
  margin-bottom: 0px;
}

.main-wrapper .header .menu .container {
    padding: 0px;
}

.main-wrapper .header .menu .navbar-collapse {
    text-align: center;
}

.main-wrapper .header .menu ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
  float: none;
  display: flex;
}
@media(max-width:767px){
    .main-wrapper .header .menu ul {
        display: block;
    }
}

.main-wrapper .header .menu li {
  flex-grow: 1;
}

.main-wrapper .header .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.6rem 5rem;
    text-decoration: none;
}

.main-wrapper .header .menu li a:hover {
    background-color: #fff;
    color: #09416B;
}

.main-wrapper .content {
  color: #09416B;
  background-color: #E2E2E2;
}

.main-wrapper .content .content-doc {
  background-color: #fff;
  padding: 5rem 10rem;
}

.main-wrapper .content .content-doc .info1 {
  padding-right: 6rem;
  position: relative;
}

.main-wrapper .content .content-doc .info1::after {
  content: "";
  border-right: 1px solid #09416B;
  position: absolute;
  top: 0;
  right: 0;
  height: 95%;
}

.main-wrapper .content .content-doc .info2 {
  padding-left: 6rem;
  padding-bottom: 40px;
}

.main-wrapper .content .content-doc .info3 {
  padding-right: 6rem;
}

.main-wrapper .content .content-doc .info3 ul {
  padding-left: 17px;
}

.main-wrapper .footer{
  background-color: #09416B;
  padding: 3rem 0px;
}

.main-wrapper .footer .footer-inner {
  max-width: 60%;
  margin: 0 auto;
  color: #fff;
  font-weight: 100;
}

.main-wrapper .footer .footer-inner h4 {
  font-size: 1.5rem;
  font-weight: 200;
}

.main-wrapper .footer .footer-inner ul {
  list-style-type:none;
  padding: 0px;
}

.main-wrapper .content .servicio1 {
  text-align: center;
}

.main-wrapper .content .servicio1 p {
  width: 65%;
  margin: 0 auto;
  font-size: 1.6rem;
}

.main-wrapper .content .descrip-servicio  {
  background-color: #09416B;
  padding: 1rem;
  color: #fff;
  text-align: center;
}

.main-wrapper .content .descrip-servicio .txt-servicio {
  padding: 0 12rem;
}

.main-wrapper .content .publicaciones {
  text-align: center;
  padding-bottom: 4rem;
  position: relative;
}

.main-wrapper .content .publicaciones::after {
  content: "";
  border-bottom: 2px solid #09416B;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
}

.main-wrapper .content .publicaciones a {
  text-align: center;
  color: #fff;
  padding: 1rem 3rem;
  background-color: #09416B;
}

.main-wrapper .content .publicaciones a:hover {
  border: 1px solid #09416B;
  color: #09416B;
  background-color: #fff;
  text-decoration: none;
}

.main-wrapper .content .publicaciones .txt-publicaciones {
  padding: 5rem 0px 3rem 0px;
}

.main-wrapper .content .publicaciones .txt-publicaciones  p{
  padding: 0 6rem;
}

.main-wrapper .content .blogs .img-blogs{
  position: relative;
  overflow: hidden;
}

.main-wrapper .content .blogs .img-blogs .mask-blogs{
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.main-wrapper .content .blogs .img-blogs:hover .mask-blogs {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.main-wrapper .content .blogs .mask-blogs a {
  color: blue;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  width: 350px;
  height: 130px;
  text-align: center;
  padding: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
}
